.backdrop {
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vw;
  z-index: 1000;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  align-items: center;
  padding-bottom: 2rem;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal > h1 {
  color: var(--default-white);
}
