.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  color: grey;
  cursor: pointer;
  margin-bottom: 10px;
}

.input {
  font-size: 20px;
  border: none;
  outline: none;
  padding: 10px 20px 10px 20px;
  background-image: var(--background-gradient-input);
  color: white;
  border-radius: 20px;
  box-shadow: var(--shadow-elements);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.input:focus {
  transform: scale(1.05);
  box-shadow: none;
}
